@import "global";

li,
.title,
body,
.logo,
.circle {
  transition: all 0.6s ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  ul {
    display: flex;
    gap: 40px;
  }
  li {
    font-size: 20px;
    letter-spacing: -1px;
  }
}

.title {
  font-size: 110px;
  line-height: 122px;
  letter-spacing: -8px;
  font-weight: 500;
}

.main-container {
  display: flex;
  align-items: flex-end;
  height: calc(100% - 50px);
  padding-right: 47%;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: $black;
}

.dark-mode-text {
  color: $white;
}

.dark-mode-body-bg {
  background: $black;
}

.dark-mode-btn {
  background: $white;
}
